@using SharedLeit
@using ModelsLeit.DTOs.Box
@model IEnumerable<BoxMiniDto>

@{
    ViewData["Title"] = "No Boxes";
    if (Model.Any())
    {
        var collection = Model.FirstOrDefault().Collection;
        ViewData["Title"] = $"{collection.Name} Boxes";
    }
}

<h2>@ViewData["Title"]</h2>
<a asp-action="Index" asp-controller="AdminCollection" class="float-end btn btn-primary">
    <i class="bi bi-arrow-left-square"></i>
    Return
</a>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Date Added</th>
            <th>Card Per Day</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var box in Model)
        {
            <tr>
                <td>
                    <a asp-action="details" asp-controller="AdminAccount" asp-route-id="@box.User.Id" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                        @box.User.UserName
                    </a>
                </td>
                <td>@box.DateAdded</td>
                <td>@box.CardPerDay</td>
                <td>
                    @(box.Completed?Html.Raw ("<i class=\"bi bi-check2-square\"></i>"):"")
                </td>
            </tr>
        }
    </tbody>
</table>