@using ModelsLeit.ViewModels
@using SharedLeit
@model IEnumerable<CollectionViewModel>

@{
    ViewData["Title"] = " Collection Index";
}

<h2>Collections</h2>

<a asp-action="Create" class="font-14 menu btn btn-outline-info">
    <i class="bi bi-plus-square"></i> Add
</a>
<a asp-controller="Box" asp-action="Index" class="float-end font-14 menu btn btn-outline-dark">
    <i class="bi bi-inboxes"></i> My Boxes
</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Published Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var collection in Model)
        {
            <tr>
                <td>@collection.Name</td>
                <td>
                    @if (collection.Status is SharedLeit.CollectionStatus.Published)
                    {
                        @collection.PublishedDate
                    }
                </td>
                <td>@collection.Status</td>
                <td>
                    <a class="btn @(collection.Status is CollectionStatus.Published ? "btn-primary" : "disabled")" asp-controller="Box" asp-action="Add" asp-route-id="@collection.Id"><i class="bi bi-plus-circle"></i> Add Box</a>
                    <a class="btn btn-primary
" asp-controller="Box" asp-action="List" asp-route-id="@collection.Id"><i class="bi bi-inboxes"></i> Boxes</a>
                    <a class="btn btn-primary" asp-controller="Card" asp-action="Index" asp-route-id="@collection.Id">
                        <i class="bi bi-collection"></i>
                        Cards
                    </a>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@collection.Id">
                        <i class="bi bi-pencil"></i>
                        Edit
                    </a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@collection.Id">
                        <i class="bi bi-file-text"></i>
                        Details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>