@using Models.ViewModels
@using Shared
@model IEnumerable<CollectionViewModel>

@{
    ViewData["Title"] = " Collection Index";
}

<h2>Collections</h2>

<a asp-action="Create" class="font-14 menu btn btn-outline-info">
    <i class="bi bi-plus-circle"></i>
</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Published Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var collection in Model)
        {
            <tr>
                <td>@collection.Name</td>
                <td>
                    @if (collection.Status is Shared.CollectionStatus.Published)
                    {
                        @collection.PublishedDate
                    }
                </td>
                <td>@collection.Status</td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@collection.Id">Edit</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@collection.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>